node_modules
.next
.git
.gitignore
.vscode
.idea
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
docs
README.md
.nvmrc
zbpack.json
